body{
    background-color: mintcream
    ;
}
.formColor{
    background-color: rgb(215, 245, 228);
}

.formCont{
    font-size:18px;
    font-family:'Courier New', Courier, monospace;
    color: rgb(6, 48, 27);
}