/*
<<<<<<< HEAD
Pick the 5 colors I would use for my color pallete
1)
2)
3)
4)
5

Font color, and background color 
*/
body{
    margin: 0;
}

.cp-bg-blue{
    background-color: #48BEFF;
}
.cp-bg-lightBlue{
    background-color: #3DFAFF;
}
.cp-bg-green{
    background-color: #43C59E;
}
.cp-bg-olive{
    background-color: #3D7068;
}
.cp-bg-darkGreen{
    background-color: #14453D;
}


.cp-text-blue{
    color: #48BEFF;
}
.cp-text-lightBlue{
    color: #3DFAFF;
}
.cp-text-green{
    color: #43C59E;
}
.cp-text-olive{
    color: #3D7068;
}
.cp-text-darkreen{
    color: #14453D;
}




)
=======
black -#000000  
navy - #14213D
gold - #FCA311  (accent)
light gray - #E5E5E5 
white = #FFFFFF


font, backg
*/

/* background colors */
.cp-bg-black {
  background-color: black;
}

.cp-bg-navy {
  background-color: #14213d;
}

.cp-bg-accent {
  background-color: #fca311;
}

.cp-bg-lightGray {
  background-color: #e5e5e5;
}

.cp-bg-white {
  background-color: white;
}

/* font colors */
.cp-text-black {
  color: black;
}

.cp-text-navy {
  color: #14213d;
}

.cp-text-accent {
  color: #fca311;
}

.cp-text-lightGray {
  color: #e5e5e5;
}

.cp-text-white {
  color: white;
}
>>>>>>> 4563a03369270a02198110bff924d565b144f2a2
